<p>practice works now !</p>
{{name}} <br>

<p>to evaluate content and display result</p>{{2+2}} <br>

{{"welcome "+name}}

{{name.length}}
{{name.toUpperCase()}}
<br>
{{greetUser()}}

<p>Property binding
    <input [value] ="carName"/>
</p>
<p>class  binding</p>
<h2 class="text-success" >code </h2>


<p>Event binding:
    <button (click) = "onClick($event)">Greet</button>
</p>

<p>Two way binding: 
<input [(ngModel)] = "name" type = "text">
{{name}}
</p>


<p>
    ngif usage  = structural directives:
</p>
<h2 *ngIf = "display" >
    it's friday 
</h2>
<h2>ng switch example is below: </h2>

<div [ngSwitch] = "color">
<div  *ngSwitchCase = "'red'">YOU PICKED RED COLOUR</div>
<div  *ngSwitchCase = "'yellow'">YOU PICKED yellow COLOUR</div>
<div  *ngSwitchCase = "'green'">YOU PICKED green COLOUR</div>
</div>
