<p>practice works now !</p>
{{name}} <br>

<p>to evaluate content and display result</p>{{2+2}} <br>

{{"welcome "+name}}

{{name.length}}
{{name.toUpperCase()}}
<br>
{{greetUser()}}

<p>Property binding
    <input [value] ="carName"/>
</p>
<p>class  binding</p>
<h2 class="text-success" >code </h2>


<p>Event binding:
    <button (click) = "onClick($event)">Greet</button>
</p>

<p>Two way binding: 
<input [(ngModel)] = "name" type = "text">
{{name}}
</p>


<p>
    ngif usage  = structural directives:
</p>
<h2 *ngIf = "display" >
    it's friday 
</h2>
<h2>ng switch example is below: </h2>

<div [ngSwitch] = "color">
<div  *ngSwitchCase = "'red'">YOU PICKED RED COLOUR</div>
<div  *ngSwitchCase = "'yellow'">YOU PICKED yellow COLOUR</div>
<div  *ngSwitchCase = "'green'">YOU PICKED green COLOUR</div>
<div *ngSwitchDefault>Pick again </div>
</div>

<h2>ng For  example is below: </h2>
<div *ngFor = "let flavour of iceCream; odd as l ">
    <h2>{{l}}{{flavour}}</h2>
</div>

<p>Demo for data from p -> c</p>

<h2>{{"hello" + newLaptopName}}</h2>


<button  (click)="fireEvent()">sending Event</button>
<p>Pipe: transform data before displaying in view only not in class
</p>
{{city}}
{{city | lowercase}}
<div>{{city | uppercase}}  </div>
<div>{{city | titlecase}}  </div>
<div>{{city | slice:3}}  </div>
<div>{{city | slice:3:7}}  </div>
<p>JSON PIPE BELOW </p>
{{person | json}}
<p>number PIPE BELOW </p>

<div>{{5.678 | number : '1.2-3'}}</div>
<div>{{5.678234324234 | number : '1.2-3'}}</div>
<div>{{5.678234324234 | number : '4.2-7'}}</div>

<p>percentage  PIPE BELOW </p>

{{0.25 | percent}}
<p>currency   PIPE BELOW </p>
<div>{{0.25 | currency}} </div>
<div>{{0.25 | currency:'INR'}} </div>
<div>{{0.25 | currency:'INR':'code'}} </div>

<p>Date   PIPE BELOW </p>
{{date}}
<h2>{{date | date :'short'}}</h2>
<h2>{{date | date :'shortDate'}}</h2>
<h2>{{date | date :'shortTime'}}</h2>
<h2>{{date | date :'medium'}}</h2>
<p>please try medium, mediumDate, mediumTime,long,LongDate, longTime</p>

